package ${packageBean.baseEntity};

import lombok.NoArgsConstructor;
import org.czh.commons.entity.eo.BaseQueryEO;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.ToString;
#if(${statusBean.hasBigDecimal})
import java.math.BigDecimal;
#end
#if(${statusBean.hasDate})
import java.util.Date;
#end

/**
 * @author : ${personalBean.authName}
    #if(${statusBean.hasTableComment})
     * description : ${tableBean.tableComment} 实体对象基类
    #else
     * description :
    #end
 * email ${personalBean.authEmail}
 */
@Data
@ToString(callSuper = true)
@EqualsAndHashCode(callSuper = true)
@NoArgsConstructor
public abstract class ${nameBean.baseEntity} extends BaseQueryEO{

private static final long serialVersionUID=-1L;

#foreach(${field} in ${columnBeanList})
/**
 * ${field.columnBean.ColumnComment}
 */
protected ${field.javaType} ${field.fieldName}
#end

}