package ${packageEntity.baseEntity};

#foreach(${importEach} in ${importListEntity.primaryBaseEntityList})
import ${importEach};
#end

#set($flag = false)
#if(${statusEntity.hasBigDecimal})
import java.math.BigDecimal;
#set($flag = true)
#end
#if(${statusEntity.hasDate})
import java.util.Date;
#set($flag = true)
#end
#if($flag)

#end
/**
 * @author : ${authEntity.authName}
 * description : [ ${tableEntity.beanComment} ] 实体对象基类
 * date : ${authEntity.buildDate}
 * email : ${authEntity.authEmail}
 */
@Data
@ToString(callSuper = true)
@EqualsAndHashCode(callSuper = true)
public abstract class ${nameEntity.baseEntity} extends BasePrimaryEO {

#foreach(${columnEntity} in ${columnEntityList})
#if(${statusEntity.pkCol.fieldName} != ${columnEntity.fieldName})
    // ${columnEntity.fieldComment} ${columnEntity.replenishComment}
    protected ${columnEntity.fieldType} ${columnEntity.fieldName};

#end
#end
}
