package ${packageEntity.service};

#foreach(${importEach} in ${importListEntity.queryServiceList})
import ${importEach};
#end

/**
 * @author : ${authEntity.authName}
 * description : [ ${tableEntity.beanComment} ] 服务类基础接口
 * date : ${authEntity.buildDate}
 * email : ${authEntity.authEmail}
 */
public interface ${nameEntity.service} extends IBaseQueryService<${nameEntity.entity}> {

}